flask
flask-cors
requests
google-api-python-client
google-auth
google-auth-oauthlib
beautifulsoup4
protobuf
torch
transformers
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
